table {
    border-collapse: collapse;
    border: 2px solid rgb(144, 144, 144);
    letter-spacing: 1px;
}

th {
    background-color: black;
    color: white;
}

td {
    border: 1px solid gray;
    text-align: center;
    padding: 5px 10px;
}

tfoot {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 700;
}