:root {
    --text-color: darkblue;
    --border: 1px solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--text-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    margin: 10px;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 95px;
    color: rgba(255, 255, 255, 0.9);
}

h1 {
    color: var(--text-color);
    margin: 15px;
    padding: 0px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
    margin: 15px;
}

ul li {
    margin: 5px 15px;
}

footer {
    margin-top: 10px;
    border-top: 2px solid black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--border) rgb(0 0 0 / 10%);
    background-color: #eee;
    color: #333;
}